div {
      .icons{
            font-size: 2.3em;
            padding-right: 2%;
      }

      .twitter{
            color: rgb(4, 218, 247);
      }

      .facebook{
            color: rgb(6, 52, 153);
      }

      .instagram{
            color: rgb(145, 8, 187);
      }

      .whatsapp{
            color: rgb(61, 196, 28);
      }

      .linkedin{
            color: rgb(38, 159, 230);
      }

      .youtube{
            color: rgb(245, 11, 11);
      }
}