.fondoLog{

              width: 100%;
              background-image: url('/imagenes/fondoLogin.jpg');
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              padding: 10% 0 10% 0;
              
       
              .contentenido{
                     margin: auto;
                     width: 60%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    background-color:rgba(209, 205, 205, 0.733);
              
                    .titulo{
                            text-align: center;
                            width: 50%;
                            margin: auto;
                            margin-bottom: 3%;
       
                            h1{
                                   font-size: 3em;
                                   margin: 5% 0 3% 0;
                            }
       
                            a{
                                   text-decoration: none !important;
                                   color: white;
                                   font-size: 1.3em;
                            }
                    }
              
                    .formularioLog{
                           width: 30%;
                           margin: auto;
                           display: flex;
                           flex-direction: column;
                           padding-bottom: 5%;
                           text-align: center;
                           
                           .btn{  
                                  margin: auto;
                                  margin-top: 3%;
                                  width: 50%;
                                  height: 3em;
                           }
                    }

                    .textLow{

                            margin-bottom: 3%;

                            a{
                                   text-decoration: none;
                                   color: white;
                                   font-size: 1.3em;
                            }
                    }
              }
}