.viaje{
       
       width: 100%;
       margin: auto;
       margin-top: 0%;
       margin-bottom: 0%;
       box-sizing: border-box;
       margin: 0 5% 0 5%;

       .infomracion{
              width: 100%;
              display: flex;
              flex-direction: row;
              padding: 0 0 60% 0;
              box-sizing: border-box;
              margin: 0 0 0% 0;
              
              .texto{
                     width: 70%;
                     background-color: black;
                     color: white;
              }
       
              .precio{
                     width: 30%;
                     background-color: yellow;
                     
                     p{
                            font-style: italic;
                            font-size: 1.2em;
                     }
              }
       }

       .nombreDeViaje{
              text-align: center;
              margin-top: 2%;
       }
}