.cabecera{

       width: 100%;
       display: flex;
       flex-direction: column;
       padding-top: 20%;
       padding-bottom: 20%;
       text-align: center;
       background-image: url("/imagenes/fondo.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;       

       .titulos{
              margin: auto;
              text-align: left;
              color: white;
              margin-bottom: 2%;
              
              h1{
                     font-size: 300%;
                     padding: 0%;
                     margin: 0%;
              }

              h3{
                     font-size: 300%;
                     padding: 0%;
                     margin: 0%;
              }
       }

       .btn-principal{
              margin: auto;
              background-color: yellow;
              border-color: yellow;
              
              button{
                     width: 130%;
                     height: 3rem;
                     background-color: rgb(224, 224, 20);
              } 
       }
}