.navegacion{
       width: 100%;
       display: flex;
       flex-direction: row;
       margin: 2%;
       box-sizing: border-box;
       position: fixed;

       .logo{
              width: 30%;
              text-align: left;

              img{
                     width: 30%;
              }
       }

       .links{
              width: 40%;
              text-align: center;
              
              a{
                     padding-right: 4%;
                     text-decoration: none;
                     color: grey;
                     font-family: Helvetica;
              }

              a:hover{
                     color: green;
              }
       }

       .iconsNave{
              width: 30%;
              text-align: right;

              a{
                     padding-right: 4%;
              }
       }
}